
/*
tan-blue
D1C68B
9E935B
9EB5BE
B1A99A
749696
212B2B
*/

/** {outline : 1px solid red; }*/

body {
    font-family: 'Georgia',Times,Times New Roman,serif;
    line-height: 140%;
    background: #E5DBBA;
    color: #212B2B;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

h1, h2, h3, h4 {
    font-weight: bold;
}

h1 {
    font-size: 36px;
    text-align: center;
    padding: 20px;
}

h2 {
    font-size: 24px;
    text-align: center;
    padding-top: 7px;
}

h3 {
    font-size: 18px;
}

h4, p {
    font-size: 16px;
}

button {
    font-family: 'Georgia',Times,Times New Roman,serif;
    background: #9EB5BE;
    border: none;
    width: 100px;
    padding: 5px;
    margin: 5px;
    margin-top: 40px;
    font-size: 18px;
    box-shadow: 0px 2px 4px #7A7246;
}

button:hover {
    box-shadow: 2px 4px 8px #9E935B;
}

.row {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-radius: 5px;
    width: 90%;
    height: 380px;
    margin: 30px;
    background: #D1C68B;
    box-shadow: 0px 0px 20px #7A7246 inset;
}

.col-1 {
    position: absolute;
    height: 340px;
    width: 25%;
}

.col-2 {
    position: absolute;
    height: 340px;
    width: 25%;
    left: 25%;
}

.col-3 {
    position: absolute;
    height: 340px;
    width: 25%;
    left: 50%;
}

.col-3-50 {
    position: absolute;
    height: 340px;
    width: 50%;
    left: 50%;
}

.col-4 {
    position: absolute;
    height: 340px;
    width: 25%;
    left: 75%;
}

.card {
    border-radius: 5px;
    position: absolute;
    width: 200px;
    height: 320px;
    margin: 20px 15px;
    background: #9EB5BE;
    box-shadow: 0px 4px 8px #7A7246;
}

.card-holder {
    position: absolute;
    border-radius: 5px;
    width: 200px;
    height: 320px;
    margin: 20px 15px;
    box-shadow: 0px 0px 20px #7A7246 inset;
}

.card-footer {
    padding: 2px 16px;
}
